/* Options */
#json-ld-generator ul.variations-checkbox {
  list-style: none;
  display: flex;
  flex: 1;
  padding-left: 30px;
}

#json-ld-generator .variations-checkbox li {
  position: relative;
  line-height: 2.4;
  cursor: pointer;
  margin: 0 50px 0 0;
  font-size: 14px;
}
#json-ld-generator .variations-checkbox li + li {
  margin-right:0;
}

#json-ld-generator .variations-checkbox li:before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: -30px;
  top: 6px;
  background: #ffffff;
  border: 1px solid #c6cacc;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box;
}

#json-ld-generator ul.variations-checkbox li>a {
  position: relative;
  text-decoration: none;
  padding-left: 26px;
  margin-left: -26px;
  color: var(--button-color);
}

ul.variations-checkbox li.selected:before,
ul.variations-checkbox li>a.selected:before {
  border-color: var(--primary-color);
}

#json-ld-generator ul.variations-checkbox li.selected:after,
#json-ld-generator ul.variations-checkbox li>a.selected:after {
  content: "";
  width: 14px;
  height: 14px;
  position: absolute;
  left: 0;
  top: 2px;
  background-color: var(--primary-color);
  border-radius: 50%;
}