:root {
  --primary-color: #2487ea;
  --button-color: #333333;
}

.App {
  text-align: left;
  padding: 2.8rem 0;
}

.AppWrapper {
  display: flex;
  flex-direction: column;
}

.jsonContent {
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}
#json-ld-generator .jsonContent > label:not(.faqAppLabel) {
  margin-bottom: 0;
}
#json-ld-generator .jsonContent > label, .label-title {
  color: #5c5c5c;
}

.faqContainer, .jsonContainer {
  padding: 0 15px;
  margin-bottom: 2rem;
}
.faqContainer.fullwidthFaq {
  width:100%!important;
}
@media (min-width: 992px) {
  .AppWrapper {
    flex-direction: row;
  }

  .faqContainer {
    width: 60%;
    margin-bottom: 0;
  }

  .jsonContainer {
    width: 40%;
    padding: 15px;
    padding-top: 0;
  }
}

.jsonContent textarea {
  width: auto;
  min-height: 100px;
  border-radius: 5px;
  border: 1px solid gainsboro;
  background-color: #fff;
  margin-top: 15px;
  padding: 9px;
  max-height: calc(100vh - 150px) !important;
  color: var(--button-color);
  font-family: monospace;
  line-height: 1.2;
  font-size: 14px;
}

/* FAQ CSS */
faq-tab {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

#json-ld-generator .tab {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
}

#json-ld-generator faq-tab input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

#json-ld-generator faq-tab label:not(.faqAppLabel) {
  position: relative;
  display: block;
  padding: 20px;
  margin-bottom: 0px;
  line-height: normal;
  cursor: pointer;
  border-top: 1px solid #ececec;
  color: #000000;
}

.faq__accordion {
  margin: 1rem 0;
}

.faq__accordion label:not(.faqAppLabel).first {
  border-top: none;
}

faq-tab label:not(.faqAppLabel)::before {
  position: absolute;
  content: "+";
  color: #333333;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 28px;
  transition: all 0.5s;
  padding: 0 5px;
}
.editing-content label.faqAppLabel {
  border-top: none;
}
.editing-content label.faqAppLabel::before {
	display:none
}

faq-tab input:checked ~ label:not(.faqAppLabel)::before {
  /* transform: translateY(-50%) rotate(45deg) scale(1.3); */
  content: "-";
}

faq-tab .accordion-title span {
  display: block;
  margin-left: 12px;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.35s;
}

faq-tab input:checked ~ .tab-content {
  max-height: none;
  padding-bottom: 15px;
  padding-left: 30px;
}

/* Below CSS
 To be removed from final CSS output 
 */

#json-ld-generator .add-new {
  display: flex;
  width: 100%;
  gap: 5px;
  color: var(--button-color);
  background-color: #fff;
  border: 1px solid gainsboro;
  border-radius: 5px;
  justify-content: center;
  padding: 7px 15px;
  margin: 1rem 0;
  cursor: pointer;
  max-width: calc(100% - 110px);
}

#json-ld-generator .add-new:hover,
#json-ld-generator .btn:not(.disabled):hover {
  color: var(--primary-color);
  background-color: transparent;
  border:1px solid var(--primary-color);
}
#json-ld-generator .btn.disabled {
  cursor: default !important;
  pointer-events: all;
  opacity: .6;
}

.user-actions-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.user-actions {
  position: absolute;
  top: 0;
  display: flex;
  gap: 15px;
  top: 0;
  right: 0;
  max-width: 100px;
  height: 100%;
  align-items: center;
}

.user-actions button {
  border: 1px solid gainsboro;
  background-color: transparent;
  cursor: pointer;
  height: 30px;
  width: 40px;
  border-radius: 5px;
}

#json-ld-generator .user-actions button + button.drag-btn {
  cursor: grab;
}

.user-actions button > svg {
  width: 1.0625rem;
  height: 1.0625rem;
  fill: #333;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

/* Switch */

.ToggleSwitch {
  position: relative;
  height: 1.35rem;
  display: flex;
  align-items: center;
  gap: 9px;
}

.ToggleSwitch.ToggleSwitch__rounded .Slider {
  border-radius: 15rem;
  background: #eceff1;
  border: 1px solid #a0a0a0;
}

.ToggleSwitch.ToggleSwitch__rounded .Slider:before {
  border-radius: 50%;
}

.ToggleSwitch .ToggleSwitch__wrapper {
  position: relative;
  width: 3rem;
  height: 1.35rem;
}

.ToggleSwitch .ToggleSwitch__wrapper .Slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s ease;
}

.ToggleSwitch .ToggleSwitch__wrapper .Slider:before {
  width: 1.3rem;
  height: 1.3rem;
  position: absolute;
  background: #fff;
  content: "";
  margin: 0;
  padding: 0;
  top: 50%;
  left: 0.09rem;
  transform: translateY(-50%);
  transition: 0.4s;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ToggleSwitch .ToggleSwitch__wrapper .Slider.isChecked {
  background: #fff;
}

.ToggleSwitch .ToggleSwitch__wrapper .Slider.isChecked:before {
  left: calc(100% - 0.1rem - 1.2rem);
  background: var(--primary-color);
}

.ToggleSwitch span.ToggleSwitch__title {
  min-width: 60px;
  font-size: 14px;
}

.user-action-bottom,
.user-action-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.user-action-top {
  gap: 15px;
  justify-content: center;
}

#json-ld-generator .user-action-top .btn {
  display: flex;
  width: 100%;
  gap: 5px;
  background-color: #fff;
  color: var(--button-color);
  border: 1px solid gainsboro;
  border-radius: 5px;
  justify-content: center;
  padding: 7px 15px;
  margin: 1rem 0;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Add Faq Element */
.QA .json-ld-container {
  display: none;
}

.json-ld-container {
  margin-top: 0;
}

.json-ld-container .input-wrapper {
  display: flex;
  flex-direction: column;
}

.json-ld-container label:not(.faqAppLabel) {
  display: block;
  margin-bottom: 10px;
}

.json-ld-container input,
.json-ld-container textarea {
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.65);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin-bottom: 12px;
  border: 1px solid gainsboro;
  min-height: 2rem;
  max-width: unset;
}

.json-ld-container textarea {
  min-height: 2.8rem;
}

.editing-tab-wrapper {
  display: block;
  z-index: 1;
  position: relative;
  padding: 1rem 0;
  background: #f7f7f7;
  border-bottom: 1px solid #eeeeee;
  padding-left: 1rem;
}



.button-wrapper {
  min-width: 30%;
  justify-content: end;
  height: 100%;
  align-items: center;
  top: 0;
}

#json-ld-generator .button-wrapper button {
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  padding: 0;
}

.button-wrapper button.drag-btn {
  height: 100%;
  background-color: gainsboro;
  border-radius: 0;
  border-bottom: 1px solid #cecece;
  padding: 0;
}

.button-wrapper button.drag-btn svg,
.button-wrapper button.btn-remove svg {
  width: 24px;
  height: 24px;
}

.button-wrapper button svg.ok-button path {
  fill: var(--primary-color);
}

button.btn-remove:hover svg {
  fill: #f86262;
}

button.drag-btn:hover svg {
  fill: var(--primary-color)
}

.editing-content {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.editing-content::after {
  content: "";
  width: 1px;
  height: 100%;
  background: gainsboro;
  position: absolute;
  right: 110px;
  top: 0;
}
.editing-content label.faqAppLabel {
  display: flex;
  justify-content: start;
  width: 100%;
  gap: 0.5em;
  flex-direction: column;
  font-size: 14px;
  color: #5c5c5c;
  padding:0;
}
@media (min-width: 260px) and (max-width: 320px) {
  .editing-content::after {
    background: transparent;
  } 
  .user-action-top {
    flex-direction: column;
    gap: 0;
  } 
  #json-ld-generator .user-action-top .btn {
    margin-bottom: 5px;
  }
  #json-ld-generator .add-new {
    max-width: unset;
  }
  .user-action-bottom {
    flex-wrap: wrap;
  }
  .ToggleSwitch {
    flex-basis: 100%;
    width: 100%;
  }
}


@media (min-width: 768px) {
  .editing-content {
    width: 70%;
  }
}

.over {
  transform: scale(1.01);
  border: 1px dashed #eee;
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal !important;
}
